html {
    background: #041ae0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: rgb(16, 160, 226);
}

h1 { 
    font-size: 3em;
    margin: 0;
}

p {
    line-height: 1.4em;
}

#blog {
    border-top: 1px dotted #ccc;
    display : flex;
}

.blog-post {
    border-bottom: 1px dotted #ccc;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;
}

img {
    border: 25px solid #082f5c;
}

img[src]{
    padding: 10px
}
a[href]{
    padding : 10px
}

.sticky {
    background : gold;
    position : sticky;
    top: 0;
}
.img-container {
    background: red;
    height: 355px;
    width: 175px;
    float: right;
    margin-left: 20px;
}
